body {
  background-color: black;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

td {
  color: #570379;
  font-size: 2rem;
}

h1 {
  text-align: center;
  color: rgb(219, 198, 6);
  font-size: 5 rem;
}
h2 {
  color: rgb(46, 190, 2);
}
div {
  text-align: center;
  color: white;
}

.Pie {
  color: goldenrod;
  font-size: 2rem;
}
.final {
  display: flex;
  text-align: center;
}
